@using Webdiyer.WebControls.Mvc
@using Sms.Common

@model  PagedList<Sms.Entity.ItemInfo>

<div id="breadcrumb">
    <a href="javascript:void(0);" class="tip-bottom">商品管理</a>
    <a href="javascript:void(0);" class="current">商品信息</a>
</div>

<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <a class="icon-list"></a>
            </span>
            <h5>商品信息列表</h5>
            @*<h5><a href="@Url.Action("Edit")" class="">添加</a></h5>*@
        </div>
            @using (Ajax.BeginForm("Index", new RouteValueDictionary { { "page", "" } }, new AjaxOptions { UpdateTargetId = "pager_content", HttpMethod = "Get", InsertionMode = InsertionMode.Replace, OnBegin = "$('#pager_loading').show()", OnComplete = "$('#pager_loading').hide()" }, new RouteValueDictionary { { "id", "searchForm" }, { "class", "form-horizontal" } }))
            {
                <div class="widget-content">
                    @Html.TextBox("keyword", "", new { @id = "keyword", type = "search", placeholder = "商品编码、商品名称" })
                    @Html.DropDownList("level", new SelectList(EnumHepler.GetEnumData(typeof(EnumHepler.MemberLevel)), "Value", "Key", null), "全部等级", new { @id = "level", style = "width:120px" })
                    <div class="action-g search">
                        <input type="submit" class="btn" value="搜索(S)" accesskey="S" />
                    </div>
                </div>
            }
        <div id="pager_loading" style="display:none;margin:15px;text-align:center"><img src="~/Content/img/spinner.gif" /></div>
        <div id="pager_content">
            @Html.Partial("_PartialItemsList", Model)
        </div>
    </div>
</div>
@section foot{
    @{Html.RegisterMvcPagerScriptResource();}
    <script type="text/javascript">
        //更改状态
        function SetStatus(id, status) {
            if (confirm('确认要执行操作吗？')) {
                OnSubmiting();
                $.post("@Url.Action("UpdateStatus")", { "id": id, "status": status }, function (data) {
                    AjaxCompelement();
                    show_message(data.Status, data.MsgText, data.Url);
                }, "json");
            }
        }
        @*//删除
        function MemberDelete(obj,id) {
            if (confirm('确认要删除该会员卡吗？')) {
                AjaxFunction("post", "@Url.Action("MemberDelete")", { "id": id }, function (data) {
                    if (data.Status) { $(obj).parents("tr").remove(); }
                    show_message(data.Status, data.MsgText);
                });
            }
        }
        //重置密码
        function SetPassword(id) {
            if (confirm('确认要重置为默认密码吗？')) {
                AjaxFunction("post", "@Url.Action("UpdatePassword")", { "id": id }, function () {
                    show_message(data.Status, data.MsgText, data.Url);
                });
            }
        }*@
        //导出
        function Export() {
            if (confirm('确认要按搜索条件导出数据吗？')) {
                AjaxFunction('POST', '@Url.Action("ExportMember")', { "keyword": $("#keyword").val() }, function (result) { show_message(true, result.MsgText, result.Url); });
            }
        }
    </script>
}